
{{!-- CONTAINER --}}
<div class="container-fluid">


{{!-- JUMBOTRON --}}
<div class="jumbotron">
      <h1 class="title">
        The Hard Times
      </h1>
      <h2 class="subtitle">
        it ain't easy
      </h2>
      <br>
    <a class="button is-primary navbar-item" href="/scrape">Get New Articles</a>

    </div>
  </div>

{{!-- ARTICLE DISPLAY --}}
<div class="container">
    <h1 class="title">Article Results</h1>
    <hr>
    <div id="scrape-results"></div>
</div>

